# Final Project : Part 1
### Garima Garg, Paulami Ray, Kumkum Yadav

### Summarize the characteristics of the dataset in words: what does it represent,what are the fields/columns/rows, what data types are they, etc

The data represents the list of Citi Bikers in New York. It tells us when do they ride, how
far do they go, which stations are the most popular and also what days of the week are the most
rides taken on.
The dataset has 15 columns which are “tripduration” , “starttime” , “stoptime” , “start.station.id”,
“start.station.name”, “start.station.latitude”, “start.station.longitude”, “end.station.id”,
“end.station.name” , “end.station.latitude” , “end.station.longitude”, “bikeid”, “usertype” ,
“birth.year”, “gender”.
This can be seen in the code executed below:

In [12]:
import pandas as pd
data=pd.read_csv("201712-citibike-tripdata.csv")
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,256,2017-12-01 00:00:00,2017-12-01 00:04:17,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,1
1,325,2017-12-01 00:00:17,2017-12-01 00:05:43,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,1
2,967,2017-12-01 00:00:19,2017-12-01 00:16:26,347,Greenwich St & W Houston St,40.728846,-74.008591,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,1
3,125,2017-12-01 00:00:20,2017-12-01 00:02:26,3077,Stagg St & Union Ave,40.708771,-73.950953,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,1
4,451,2017-12-01 00:00:28,2017-12-01 00:08:00,368,Carmine St & 6 Ave,40.730386,-74.002150,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,1

In [13]:
data.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,8.899670e+05,889967.000000,889967.000000,889967.000000,889967.000000,889967.000000,889967.000000,889967.000000,850522.000000,889967.000000
mean,7.649972e+02,1465.513033,40.738450,-73.982939,1448.685378,40.738116,-73.983317,26208.197205,1978.105455,1.169877
std,8.263224e+03,1394.616388,0.046430,0.018119,1390.452663,0.046447,0.018154,6149.698465,12.260142,0.488916
min,6.100000e+01,72.000000,40.646538,-74.017134,72.000000,40.646538,-74.045572,14529.000000,1885.000000,0.000000
25%,3.260000e+02,380.000000,40.719392,-73.994564,379.000000,40.719392,-73.994685,19884.000000,1969.000000,1.000000
50%,5.270000e+02,497.000000,40.739713,-73.986022,497.000000,40.739445,-73.986724,28482.000000,1981.000000,1.000000
75%,8.710000e+02,3170.000000,40.757246,-73.974987,3167.000000,40.756687,-73.975739,31452.000000,1988.000000,1.000000
max,3.518067e+06,3654.000000,45.506364,-73.569109,3654.000000,45.506364,-73.569109,33481.000000,2001.000000,2.000000

In [14]:
data.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

### What is the "name" of the dataset?

The name of the dataset is 201712-citibike-tripdata.csv.

### Where did you obtain it?

We obtained the dataset from the site https://s3.amazonaws.com/tripdata/index.html. The name of the dataset on that site is 201712-citibike-tripdata.csv.zip.

### Where can we obtain it? (i.e., URL)

You can also obtain the dataset from https://s3.amazonaws.com/tripdata/index.html. The name of the dataset on that site is 201712-citibike-tripdata.csv.zip. It is an open source data the data policy
can be seen here : https://www.citibikenyc.com/data-sharing-policy .

### What is the license of the dataset? What are we allowed to do with it?

The Licence of the dataset can be found on the Data Licence Agreement site
which is https://www.citibikenyc.com/data-sharing-policy. The Licence of the dataset is
pasted below :
Bikeshare hereby grants to you a non-exclusive, royalty-free, limited, perpetual license
to access, reproduce, analyze, copy, modify, distribute in your product or service and
use the Data for any lawful purpose (“License”).
But with this dataset we cannot do the following :
1) Use the dataset in an unlawful manner.
2) Host, stream, publish, distribute, sublicense, or sell the Data as a stand-alone
dataset; provided, however, you may include the Data as source material, as
applicable, in analyses, reports, or studies published or distributed for noncommercial
purposes;
3) Access the Data by means other than the interface Bikeshare provides or
authorizes for that purpose;
4) Circumvent any access restrictions relating to the Data;
5) Use data mining or other extraction methods in connection with Bikeshare’s
website or the Data;
6) Attempt to correlate the Data with names, addresses, or other information of
customers or subscribers of Bikeshare; and
7) State or imply that you are affiliated, approved, endorsed, or sponsored by
Bikeshare.
8) Use or authorize others to use, without the written permission of the applicable
owners, the trademarks or trade names of NYC Bike Share, LLC, Jersey City
Bike Share, LLC, Motivate International Inc., or Citigroup, Inc., (sponsor of the
Citi Bike service). These marks include, but are not limited to CITI BIKE, and the
CITI BIKE logo.

### How big is it in file size and in items?

The file size of this dataset is 155,622 Kb. The number of rows in this dataset are 889,968. The number of columns are 15 which have been defined above.